* {
  margin: 0;
  padding: 0;
}
*, *::before {
  box-sizing: border-box;  
}
html, body, #root {
  width: 100vw;
  height: 100%;
  background-color: antiquewhite;
}
.app {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 50vw;
  min-height: 100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: azure;
  border: 1px solid #eee;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.app > div {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app > div > p {
  margin: 0 5px;
  padding: 15px 10px;
  height: 50px;
  background-color:indianred;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.app > div > button {
  margin: 0 10px;
  padding: 5px;
  width: 25px;
  height: 50px;
  background-color: lightsteelblue;
  font-size: 16px;
  color: black;
  font-weight: bold;
  border: 1px solid #0d2748;
}
.app > div > button:hover {
  background-color: #0d2748;
  color: white;
}